.notoSansThin{
	font-family:'SiYuan-ExtraLigcf7e4327026bb';
	/*link http://cdn.webfont.youziku.com/webfont/nomal/9915/46870/59aec767f629d817249cd13c.css*/
}

.sourceHanSansLight{
	font-family:'Source-Han-Lighcf7e2742626bb';
	/*link http://cdn.webfont.youziku.com/webfont/nomal/9915/46865/59aec6f4f629d817249cd13a.css*/
}

.sourceHanSansBold{
	font-family:'SiYuanBoldcf7dd67ab26bb';
	/*link http://cdn.webfont.youziku.com/webfont/nomal/9915/46828/59aec5a9f629d817249cd138.css*/
}
.ditaSweet{
	font-family: 'Conv_Dita-Sweet',Sans-Serif;
}
@font-face {
	font-family: 'Conv_Dita-Sweet';
	src: url('../font/Dita-Sweet.eot');
	src: local('☺'), url('../font/Dita-Sweet.woff') format('woff'), url('../font/Dita-Sweet.ttf') format('truetype'), url('../font/Dita-Sweet.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.erasBold{
	font-family: 'Conv_ERASBD',Sans-Serif;
}
@font-face {
	font-family: 'Conv_ERASBD';
	src: url('../font/ERASBD.eot');
	src: local('☺'), url('../font/ERASBD.woff') format('woff'), url('../font/ERASBD.ttf') format('truetype'), url('../font/ERASBD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.erasitc{
	font-family: 'Conv_Erasitc',Sans-Serif;
}
@font-face {
	font-family: 'Conv_Erasitc';
	src: url('../font/Erasitc.eot');
	src: local('☺'), url('../font/Erasitc.woff') format('woff'), url('../font/Erasitc.ttf') format('truetype'), url('../font/Erasitc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.itcErasMedium{
	font-family: 'Conv_ItcEras-Medium',Sans-Serif;
}
@font-face {
	font-family: 'Conv_ItcEras-Medium';
	src: url('../font/ItcEras-Medium.eot');
	src: local('☺'), url('../font/ItcEras-Medium.woff') format('woff'), url('../font/ItcEras-Medium.ttf') format('truetype'), url('../font/ItcEras-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#navScroll li a{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
#navScroll li span{
	font-family:'SiYuan-ExtraLigcf7e4327026bb';
}
.slide-about .content{
	font-family:'SiYuan-ExtraLigcf7e4327026bb';
}
.slide-timeline .content{
	font-family:'SiYuan-ExtraLigcf7e4327026bb';
}
.slide-schedule .rooms{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
.slide-schedule .timeline{
	font-family:'SiYuan-ExtraLigcf7e4327026bb';
}
.slide-transport .text{
	font-family:'SiYuan-ExtraLigcf7e4327026bb';
}
.slide-sponsor .content .grade{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
.slide-contributors .content .grade{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
.slide-thanks .content .grade{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
.slide-staff .staff-box .staff-title{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
.slide-staff .staff-box p{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
.slide-footer p{
	font-family:'SiYuanBoldcf7dd67ab26bb';
}
